.backend-icon-information
{
    background-image: url( '../images/icons/information.png' )!important;
}

.backend-icon-bricks
{
    background-image: url( '../images/icons/bricks.png' )!important;
}

.backend-icon-chart-pie
{
    background-image: url( '../images/icons/chart_pie.png' )!important;
}

.backend-icon-group
{
    background-image: url( '../images/icons/group.png' )!important;
}

.backend-icon-house
{
    background-image: url( '../images/icons/house.png' )!important;
}

.backend-icon-star
{
    background-image: url( '../images/icons/star.png' )!important;
}

.backend-icon-user
{
    background-image: url( '../images/icons/user.png' )!important;
}

.backend-icon-user-go
{
    background-image: url( '../images/icons/user_go.png' )!important;
}

.backend-icon-wrench
{
    background-image: url( '../images/icons/wrench.png' )!important;
}

.backend-icon-page-white-text
{
    background-image: url( '../images/icons/page_white_text.png' )!important;
}

.backend-icon-zoom
{
    background-image: url( '../images/icons/zoom.png' )!important;
}
